* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#navbar-section {
  width: 100%;
}
#hero-section {
  min-height: 100vh;
  width: 100%;
}
#hero-section {
  position: relative;
}
.top-navbar {
  position: absolute;
  z-index: 2;
  top: 0%;
  width: 100%;
}
#hero-section {
  background-image: url("./images/main\ hero\ img.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  padding-top: 5rem;
}
#intro-text {
  backdrop-filter: blur(6px);
}
.search {
  position: relative;
}
.search input {
  height: 4rem;
  text-indent: 1rem;
  border-radius: 2rem;
  background-color: transparent;
}
.search input:focus {
  box-shadow: none;
  border: 0.1rem solid blue;
}
.search .fa-search {
  position: absolute;
  top: 1.4rem;
  left: 0.5rem;
}
.search button {
  position: absolute;
  top: 5px;
  right: 0.5rem;
  height: 3rem;
  width: 5.4rem;
  background: blue;
  border-radius: 30px;
}
.navcard-1 {
  width: 30%;
  padding: 1rem;
  border-radius: 30px;
}
.nav-img-card-1 {
  position: relative;
  padding-left: 0px;
}
.navcardimg-2 {
  position: absolute;
  left: 15px;
}
.navcardimg-3 {
  position: absolute;
  left: 25px;
}
.hero-buttons {
  margin-top: 20rem;
}
@media only screen and (max-width: 991px) {
  .hero-left {
    width: 100%;
  }
  .hero-buttons {
    display: none;
  }
}
